/*Common*/
  .rounded_error_msg
        {
            border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 5px 10px;
    font-size: 15px;
            font-weight : bold;
            font-family:Microsoft Sans Serif;
            border-radius: 5px; /* Adjust the border radius value */
            background-color: #fff;
            color: #EB6363;
            cursor: pointer;
        }
               .rounded-i-button
        {
            border-style: none;
    border-color: #EB6363;
    border-width: 1px;
    font-size: medium;
    padding: 5px 10px;

            font-weight : bold;
            border-radius: 100%; /* Adjust the border radius value */
            background-color: #fff;
            color: #EB6363;
            cursor: pointer;
        } 
/*Home Page CSS*/
        .body
        {
            background-image: url('Images/img_Home.png')    ;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .navbar
        {
            position: sticky;
            top: 0;
            z-index: 100; /* Ensure the navbar is above other content */
        }
        .navbar_table
        {
            width: 100%;
            margin-bottom: 0px;
            padding-left: 60px;
            background-attachment: fixed;
        }
        .style2
        {
            height: 72px;
        }
        .style5
        {
            height: 72px;
            width: 82px;
        }
        .style7
        {
            height: 72px;
            width: 139px;
        }
        .style8
        {
            height: 72px;
            width: 85px;
        }
        .vertical-line
        {
            width: 1px;
            height: 200px;
            background-color: White;
            border-radius: 10px;
        }
       .style9
       {
           width: 100%;
       }
 
            /*Login Page CSS*/
        .style_login_table
        {
            width: 50%;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            padding: 20px;
            border-radius: 20px;
        }
      
        .textbox_style_login
        {
         font-family:Microsoft Sans Serif;
         font-size : 20px;
         height:35px;
         font-weight:bold;   
         color:black;
         border-color:#FF7878;
          border-radius: 5px;
         }
 
 
        .rounded-button
        {
            border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 10px 20px;
    width:25%;
    font-size: large;
            font-weight : bold;
            border-radius: 5px; /* Adjust the border radius value */
            background-color: #fff;
            color: #EB6363;
            cursor: pointer;
    margin-left: 6px;
    margin-right: 0px;
}
        
        11
        {
            width: 286px;
        }
        .style12
        {
            width: 150px;
        }
         /*Register Page CSS*/
          .text_style
        {
         font-family:Microsoft Sans Serif;
         font-size : 15px;
         font-weight:bold;   
         color:White;
         }
         .textbox_style
        {
         font-family:Microsoft Sans Serif;
         font-size : 20px;
         font-weight:bold;   
         color:black;
         border-color:#FF7878;
          border-radius: 5px;
         }
         
         .style_Register_table
        {
            width: 57%;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            padding: 20px;
            border-radius: 20px;
        }
          /*DashBoard Page CSS*/
          .style_dashboard_table
        {
          width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
           padding: 10px;
            border-radius: 20px;
        }
          .style_dashboard_profile_image
        {
        
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
           padding: 5px;
            border-radius: 20%;
        }
        
       